{#-
This is the Jinja2 events ID documentation template.
-#}
.. _events-{{category}}:


{{ title }}
{{ '=' * (title|length) }}


{#-
Unpack the event_id and use Jinja dictsort
#}
{%- for event_id, event in events | dictsort %}
{% if not event_id.startswith('__') %}

{{ event.id }}
{{ '^' * event.id|count }}

{#
Add the events JSON as a table under each event ID
-#}
:Message: {{ event.message|indent(4) }}
:Groups: {{ ", ".join(event.group_names) }}
:From version: {{ event.version_added }}
:Description: {{ event.description|d('None', true)|indent(4) }}
{% if event.data -%}
:Data:
{%- for data_name, data_value in event.data|dictsort %}
  :{{ data_name }}: {{ data_value }}

{% endfor %}
{% endif %}
{%- endif %}
{%- endfor %}
